.topic-card {
    margin-top: 24px;
}

.row-width {
    width: 100%;
}

.justify-center {
    justify-content: center;
}

.dropdown-toggle::after {
    vertical-align: .2em !important;
    border-top: .4em solid !important;
    border-right: .4em solid transparent !important;
    border-left: .4em solid transparent !important;
    position: absolute;
    right: .5em;
    top: 40%;
}

.bg-modal-body {
  background-color: #F7F8FA;
}

#filterModalDialog.modal-dialog {
  max-width: 250px;
  margin: 0px;
  top: 10%;
  left: 100%;
  transform: translate(-106%, 0);
}

.centered {
    margin-right: auto;
    margin-left: auto;
    display: block;
    text-align: center;
}

.card-table-cs {
    border-radius: 10px;
    border: none;
    /* margin-top: 25px; */
    /* margin-top: -115px; */
    margin-left: 1%;
    margin-right: 1%;
    background-color: #ffffff;
    padding-bottom: 30px;
}

.card-datatable-cs {
    border-radius: 25px;
    border: none;
    margin-top: 20px;
    margin-left: 3%;
    margin-right: 2%;
    width: 90%;
    background-color: #FCF9FB;
}

.btn-color-blue {
    color: white;
    text-align: left;
    display: block !important;
    height: fit-content;
    border-radius: 15px !important;
    background-color: #1C8DE2;
    border-color: #1C8DE2;
    border-width: medium;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    -webkit-box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    -o-box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    -moz-box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.btn-color-blue:hover {
    background-color: #0E568D;
    border-color: #093A5F;
}

.region-circle {
    display: inline;
    position: absolute;
    top: 7px;
    right: 25px;
    background: white;
    height: 22px;
    width: 20px;
    border-radius: 43%;
    border: none;
    margin-left: 3px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 1px;
    justify-content: center;
    text-align: center;
    color: #0E568D;
}

.btn-color-alarm {
    color: white;
    text-align: left;
    display: block !important;
    height: fit-content;
    border-radius: 15px !important;
    background: linear-gradient(to right, #F85032, #E73827);
    border-width: medium;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    -webkit-box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    -o-box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    -moz-box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.btn-color-alarm:hover {
    background: linear-gradient(to left, #AD2D16, #AD2D16);
}

.noti-circle {
    background: linear-gradient(to left, #E43927, #E43927);
    position: absolute;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border: none;
    right: -15px;
    top: -15px;
    justify-content: center;
    text-align: center;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
    -o-box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
    -moz-box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
}

.btn-color-alarm:hover .noti-circle-hover {
    background: linear-gradient(to left, #AD2D16, #AD2D16);
}

.btn-color-gray {
    color: white;
    text-align: center;
    display: block !important;
    height: fit-content;
    border-radius: 15px !important;
    background-color: #828181;
    border-color: #828181;
    border-width: medium;
}

.btn-color-gray:hover {
    background-color: #414141;
    border-color: #414141;
}

.col-sum-item-btn {
    display: contents;
}

.img-earth {
    width: 60px;
    height: auto;
    float: right;
    margin-right: 5%;
    border-radius: 50%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    -webkit-box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    -o-box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    -moz-box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.table-cs {
    background: #1C8DE2 !important;
}

.border-right {
    border-color: white;
    border-right-width: 1px;
}

::ng-deep .ant-table table {
    border-spacing: 0px 0.3em !important;
}

.table-hd-cs:first-child {
    border-top-left-radius: 2em !important;
    border-bottom-left-radius: 2em;
}

.table-hd-cs:last-child {
    border-top-right-radius: 2em !important;
    border-bottom-right-radius: 2em;
}

.table-row-main {
    background-color: white;
    line-height: 10px !important;
}

tr.table-row-main td {
    border-top: 1px solid #dadada;
    border-bottom: 1px solid #dadada;
    text-align: center;
    color: #3676B4;
    font-weight: 600;
}

tr.table-row-main td:nth-child(5) {
    color: #F64D30;
    font-family: "Roboto-Regular";
}

tr.table-row-main td:first-child {
    border-top-left-radius: 2em !important;
    border-bottom-left-radius: 2em;
    border-left: 1px solid #dadada;
}

tr.table-row-main td:last-child {
    border-top-right-radius: 2em !important;
    border-bottom-right-radius: 2em;
    border-right: 1px solid #dadada;
    color: #0F56B3;
    font-family: "Roboto-Regular";
}

.btn-table-link {
    display: inline-block;
    border-radius: .5em;
    text-align: left;
    padding-left: 10px;
    height: 26px;
    width: 160px;
    background-color: white;
    border: none;
    position: relative;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    -webkit-box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    -o-box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    -moz-box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.btn-table-link:hover {
    border-color: #b6b6b6;
    border-width: thick;
}

.link-icon {
    margin-left: 20px;
    font-size: 14px;
    font-weight: bold;
    position: absolute;
    top: 6px;
    right: 0;
}

.mat-center {
    vertical-align: middle;
}

.btn-paging {
    display: inline;
    text-align: right;
    margin-right: 3%;
    margin-bottom: 15px;
}

.dropdown-menu.show {
    margin-top: 10px;
    border-radius: 1em !important;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    -o-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    -moz-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.menuitem {
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.text-item {
    color: #2b60b4;
    font-size: .875rem;
    font-weight: bold;
    margin-left: 10px;
}

.text-item-status {
    color: #464646;
    font-size: .875rem;
    font-weight: Regular;
    margin-left: 10px;
}

.form-check {
    position: relative;
}

input[type=checkbox] {
    width: 18px;
    height: 18px;
    margin-left: -10px;
}

.img-data-table {
    width: 15px;
    vertical-align: sub;
}

.text-data-table {
    margin-left: 10px;
}

input[type=checkbox]:checked+label::after {
    /* content: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" width="13" height="13" fill="white" viewBox="0 0 24 24"><path d="M20.285 2l-11.285 11.567-5.286-5.011-3.714 3.716 9 8.728 15-15.285z"/></svg>'); */
    display: block;
    position: absolute;
    left: 16px;
    top: 4px;
}

@media only screen and (min-width: 1280px) {
    .topic {
        color: #C0392B !important;
        font-size: 24px;
        font-weight: bold;
    }
    .col-sum-container {
        display: grid;
        grid-template-columns: 8% 12% 12% 12% 56%;
        grid-gap: 10px;
        margin-top: 20px;
    }
    .col-top {
        align-self: end;
        margin-left: 10px;
    }
    .col-sum-item-btn:nth-child(5) {
        display: inline;
        align-self: end;
        text-align: right;
        margin-right: 10%;
    }
    .btn-color-gray {
        width: 170px;
    }
    .table-margin {
        margin-top: 30px;
        margin-left: 30px;
        margin-right: 30px;
        margin-bottom: 15px;
    }
    .table-hd-cs {
        font-size: 18px;
        font-weight: bold;
        color: white;
        text-align: center;
        justify-content: center;
        background: transparent !important;
    }
    .btn-paging-left {
        border-top-left-radius: 2em !important;
        border-bottom-left-radius: 2em;
        width: 55px;
        height: 30px;
        color: white;
        background-color: #2b60b4;
        border: none;
        margin-right: 1px;
    }
    .btn-paging-center {
        width: 100px;
        height: 30px;
        color: white;
        background-color: #2b60b4;
        border: none;
    }
    .btn-paging-right {
        border-top-right-radius: 2em !important;
        border-bottom-right-radius: 2em;
        width: 55px;
        height: 30px;
        color: white;
        background-color: #2b60b4;
        border: none;
        margin-left: 1px;
    }
}

@media only screen and (max-width: 1280px) {
    .topic {
        color: #C0392B !important;
        font-size: 16px;
        font-weight: bold;
    }
    .col-sum-container {
        display: grid;
        grid-template-columns: 20% 40% 40%;
        grid-gap: 15px;
        grid-row-gap: 15px;
        padding: 30px;
    }
    .col-sum-item:first-child {
        grid-row: 1 / 3;
        /* same concept, but for rows */
    }
    .img-earth {
        max-width: 100px;
        min-width: 65px;
        margin-top: 3%;
        margin-left: 2%;
        float: none;
    }
    .img-earth-ct {
        text-align: center;
        vertical-align: middle;
    }
    .btn-cs {
        border-radius: 10px !important;
        padding: .25rem .5rem;
        font-size: .875rem;
        line-height: 1.5;
        border-radius: .2rem;
    }
    .table-margin {
        margin: 5px;
    }
    .table-hd-cs {
        font-size: 14px;
        font-weight: bold;
        color: white;
        text-align: center;
        justify-content: center;
        background: transparent !important;
    }
    .btn-paging-left {
        border-top-left-radius: 2em !important;
        border-bottom-left-radius: 2em;
        width: 45px;
        height: 20px;
        color: white;
        background-color: #2b60b4;
        border: none;
        margin-right: 1px;
    }
    .btn-paging-center {
        border-radius: 0;
        width: 55px;
        height: 20px;
        padding-top: 0;
        font-size: 12px;
        font-weight: bold;
        color: white;
        background-color: #2b60b4;
        border: none;
        vertical-align: top;
    }
    .btn-paging-right {
        border-top-right-radius: 2em !important;
        border-bottom-right-radius: 2em;
        width: 45px;
        height: 20px;
        color: white;
        background-color: #2b60b4;
        border: none;
        margin-left: 1px;
    }
    .btn-paging {
        margin-top: 5px;
        margin-bottom: 5px;
        margin-right: 5px;
    }
    .mat-icon {
        font-size: 18px;
    }
    .text-data-table {
        margin-left: 5px;
    }
    .link-icon {
        top: 4px;
    }
    .region-circle {
        top: 3px;
    }
}

@media only screen and (max-width: 992px) {
    .card-table-cs {
        margin-top: 0px;
    }
}
.btn-filter {
    background-color: #004595;
    border-color: #004595;
}

.group-ptt {
  /* width: 150px; */
  background-color: #3676B4 !important;
}
