<div class="container-fluid no-padding">
    <div class="div-contact">
        <div class="row center">
            <div class="col-5" style="text-align: right;">
                <img class="img-logo-tpp" src="assets/img/TPP-white-logo.png">
            </div>
            <div class="col-7">
                <div class="text-contact">
                    <div class="row">
                        <span class="span-contact-us">CONTACT US</span>
                    </div>
                    <div class="row">
                        <span class="span-contact-us-detail">We love hearing from our customers, all questions,
                            comments, and feedback are always welcome. </span>
                    </div>
                    <div class="row">
                        <span class="span-contact-us-detail">ทุกๆ คำถาม ความคิดเห็น และข้อเสนอแนะ
                            เรายินดีรับฟังจากลูกค้าเสมอ</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row center">
        <div class="div-topic" style="margin-top: 50px !important;">
            <div class="row">
                <span class="topic">Customer Care</span>
            </div>
            <div class="row">
                <span class="detail">You can call us at +6682 339 8662 from 9.00 a.m. – 6.00 p.m. Monday to Friday.
                    Alternatively, you can send us an email to support@tppsolution, and we’ll do our best to reply as
                    quickly as possible.</span>
            </div>
        </div>
        <div class="div-topic">
            <div class="row">
                <span class="topic">ฝ่ายดูแลลูกค้า</span>
            </div>
            <div class="row">
                <span class="detail">คุณสามารถโทรหาเราได้ที่ +6682 339 8662 ทุกวันจันทร์ – ศุกร์ ตั้งแต่เวลา 9.00 น. –
                    18.00 น. หรือคุณส่งอีเมลมายัง support@tppsolution และเราจะตอบกลับโดยเร็วที่สุด</span>
            </div>
        </div>
        <div class="div-topic">
            <div class="row">
                <span class="topic">ฝ่ายเทคนิค</span>
            </div>
            <div class="row">
                <span class="detail">คุณสามารถโทรหาเราได้ที่ 084 515 9456 และ 096 005 0026 ทุกวันจันทร์ – ศุกร์
                    ตั้งแต่เวลา 9.00 น. – 18.00 น. หรือคุณส่งอีเมลมายัง support@tppsolution
                    และเราจะตอบกลับโดยเร็วที่สุด</span>
            </div>
        </div>

        <div class="row div-topic" style="margin-bottom: 100px !important;">
            <div class="col-lg-7">
                <div class="div-topic-map">
                    <div class="row">
                        <span class="topic">Headquarter</span>
                    </div>
                    <div class="row">
                        <span class="detail">TPP Solution Co., Ltd <br>
                            No.44 Rungrojthanakul 2nd Fl. Ratchadapisek Rd. Huaykwang, Huaykwang, Bangkok, 10310 <br>
                            You can call us at +66 2643 0251-54 from 9.00 a.m. – 6.00 p.m. Monday to Friday
                        </span>
                    </div>
                </div>
                <div class="div-topic-map">
                    <div class="row">
                        <span class="topic">สำนักงานใหญ่</span>
                    </div>
                    <div class="row">
                        <span class="detail">บริษัท ทีพีพี โซลูชั่น จำกัด<br>
                            เลขที่ 44 อาคารรุ่งโรจน์ธนกุล ชั้นที่ 2 ถนนรัชดาภิเษก แขวงห้วยขวาง เขตห้วยขวาง กทม.
                            10310<br>
                            คุณสามารถโทรหาเราได้ที่ +66 2643 0251-54 ทุกวันจันทร์ – ศุกร์ ตั้งแต่เวลา 9.00 น. – 18.00 น.
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-lg-5" style="text-align: center; margin-top: 20px;">
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d1764.050690761664!2d100.56577578776417!3d13.760644572401283!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x30e29fdfb98708d1%3A0xf83d228c0f8c4666!2sTPP%20Solution%20Co.%2C%20Ltd.!5e0!3m2!1sen!2sth!4v1633449054225!5m2!1sen!2sth"
                    width="98%" height="100%" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            </div>
        </div>
    </div>
</div>