<admin-side-bar></admin-side-bar>
<div class="body-admin">
  <div class="row">
    <div class="col-12">
      <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-3 col-xl-3 col-xxl-3 mb-2 d-flex align-items-center">
          <img src="./../../../../../../assets/img/admin/role-icon.png">
          <h5 class="text-tpp ms-2 mb-0">Role Management</h5>
        </div>
        <div
          class="col-12 col-sm-12 col-md-12 col-lg-3 col-xl-3 col-xxl-3 mb-2 d-flex align-items-center justify-content-end">
          <div *ngIf="getSelected()" class="d-flex align-items-center">
            <span class="font-size-2 me-2">{{getSelected()}} selected</span>
            <span class="font-size-1 badge rounded-pill bg-danger d-flex align-items-center me-2">
              <a class="me-1 text-light d-flex align-items-center" (click)="onClearAll()">
                <i class='font-size-2 bx bx-x'></i>
              </a>
              Clear all
            </span>
            <a class="text-light d-flex align-items-center">
              <i class='font-size-3 text-tpp bx bx-trash'></i>
            </a>
          </div>
        </div>
        <div class="col-12 mb-2 d-block d-sm-block d-md-block d-lg-none d-xl-none d-xxl-none" style="padding-right: 0.2rem;">
          <div class="form-group has-search me-2">
            <span class="fa fa-search form-control-feedback"></span>
            <input style="border-radius: 6px;" type="text" class="form-control" placeholder="Search"
              [(ngModel)]="searchFilter" (keyup)="getRoleList('Y')">
          </div>
        </div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xxl-6 mb-2">
          <div class="d-flex align-items-center justify-content-end ps-3 ms-3">
            <div style="width: 10px; height: 38px;"
              class="border-start border-2 border-tpp ps-3 ms-3 d-none d-sm-none d-md-none d-lg-block d-xl-block d-xxl-block">
            </div>
            <div class="form-group has-search me-2 d-none d-sm-none d-md-none d-lg-block d-xl-block d-xxl-block">
              <span class="fa fa-search form-control-feedback"></span>
              <input style="border-radius: 6px;" type="text" class="form-control" placeholder="Search"
                [(ngModel)]="searchFilter" (keyup)="getRoleList('Y')">
            </div>
            <button type="button" class="btn btn-outline-sky d-flex align-items-center border-radius-6px"
              (click)="openAddRoleModal()">
              <i class='bx bxs-plus-circle me-1'></i> Add Role
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12rounded-pill mt-2 mb-3">
      <div class="w-100 line-cut"></div>
    </div>
    <div class="col-12" style="overflow-x:auto;">
      <table class="table table-bordered">
        <thead>
          <tr class="text-center header-table">
            <th style="width: 30px;" scope="col">
              <div>
                <input class="border-tpp form-check-input" type="checkbox" id="selectAllRole" (change)="onSelectAll()"
                  [(ngModel)]="selectAll">
              </div>
            </th>
            <th scope="col">
              <div class="d-flex justify-content-center">
                <span class="me-1">Role name</span>
                <a class="text-body d-flex align-items-center"><i class='font-size-3 bx bx-sort-down'></i></a>
              </div>
            </th>
            <th scope="col">
              <div class="d-flex justify-content-center">
                <span class="me-1">Role level</span>
                <a class="text-body d-flex align-items-center"><i class='font-size-3 bx bx-sort-down'></i></a>
              </div>
            </th>
            <th scope="col">
              <div class="d-flex justify-content-center">
                <span class="me-1">Company name</span>
                <a class="text-body d-flex align-items-center"><i class='font-size-3 bx bx-sort-down'></i></a>
              </div>
            </th>
            <th scope="col">
              <div class="d-flex justify-content-center">
                <span class="me-1">Status</span>
                <a class="text-body d-flex align-items-center"><i class='font-size-3 bx bx-sort-down'></i></a>
              </div>
            </th>
            <th scope="col">
              <div class="d-flex justify-content-center">
                <span class="me-1">Update by</span>
                <a class="text-body d-flex align-items-center"><i class='font-size-3 bx bx-sort-down'></i></a>
              </div>
            </th>
            <th scope="col">
              <div class="d-flex justify-content-center">
                <span class="me-1">Update date</span>
                <a class="text-body d-flex align-items-center"><i class='font-size-3 bx bx-sort-down'></i></a>
              </div>
            </th>
            <th style="width: 60px;" scope="col">

            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let role of roleList;let index = index"
            [ngClass]="{'row-selected': role.checked, 'text-tpp': !role.checked, 'tr-odd': index%2 && !role.checked}">
            <th>
              <div style="width: 30px;" class="text-center">
                <input class="border-tpp form-check-input" type="checkbox" id="selectAllUser"
                  [(ngModel)]="role.checked">
              </div>
            </th>
            <th class="text-center">{{role.roleName}}</th>
            <th class="text-center">{{role.defaultRoleName | titlecase}}</th>
            <th class="text-center">{{role.companyName}}</th>
            <th class="text-center">{{role.status}}</th>
            <td class="text-center">{{role.updateBy}}</td>
            <td class="text-center">{{role.updateDate}}</td>
            <td class="bg-light">
              <div class="d-flex justify-content-center">
                <a (click)="openEditRoleModal(role)"><i class='font-size-4 text-tpp bx bx-pencil me-3'></i></a>
                <a (click)="openMessageDeleteModal(role)"><i class='font-size-4 text-tpp bx bx-trash'></i></a>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row mt-1">
    <div class="col-6 d-flex justify-content-start align-items-center">
      <strong class="me-2">Rows per page</strong>
      <select style="width: 70px;" class="form-select me-2" [(ngModel)]="filterOption.limit" (change)="getRoleList()">
        <option value="10">10</option>
        <option value="20">20</option>
        <option value="30">30</option>
        <option value="40">40</option>
        <option value="50">50</option>
      </select>
      <strong class="d-none d-sm-none d-md-none d-lg-block d-xl-block d-xxl-block">Showing
        {{(filterOption.page-1)*10+1}} - {{filterOption.totalResult > filterOption.limit*filterOption.page ?
        filterOption.limit*filterOption.page : filterOption.totalResult}} of results
        {{filterOption.totalResult}}</strong>
    </div>
    <div class="col-6">
      <div class="rounded-pill d-flex group-ptt float-end">
        <div><a class="font-size-3 text-light w-100 float-start pt-1" (click)="goPage(-1)">
            <i class='bx bx-left-arrow-alt ms-2'></i>
          </a>
        </div>
        <div class="font-size-2 w-100 text-center text-light pt-1">{{filterOption.page}} of {{filterOption.pageTotal}}
        </div>
        <div><a class="font-size-3 text-light w-100 float-end pt-1" (click)="goPage(1)">
            <i class='bx bx-right-arrow-alt me-2'></i>
          </a></div>
      </div>
    </div>
  </div>
</div>
<!-- Role From -->
<div class="modal fade" id="roleModal" tabindex="-1" aria-labelledby="roleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content border-radius-12px">
      <div class="modal-header">
        <h5 class="modal-title" id="roleModalLabel">
          <strong class="text-tpp" *ngIf="!roleForm.roleId">Add Role</strong>
          <strong class="text-tpp" *ngIf="roleForm.roleId">Edit Role</strong>
        </h5>
        <a data-bs-dismiss="modal" aria-label="Close"><i class='text-tpp font-size-5 bx bxs-x-circle'></i></a>
      </div>
      <div class="modal-body bg-modal-body">
        <div class="row">
          <div class="col-12">
            <div class="mb-3">
              <label for="inputDefaultRoleName" class="form-label text-tpp">Role Level :</label>
              <select class="form-select" id="inputDefaultRoleName" aria-label="Please select"
                [ngClass]="{'is-invalid': isVerify && !roleForm.defaultRole}" [(ngModel)]="roleForm.defaultRole">
                <option value="" selected hidden="hidden">Please select</option>
                <option value="{{role.defaultRole}}" *ngFor="let role of defaultRoles">{{ role.defaultRoleName |
                  titlecase }}</option>
              </select>
            </div>
            <div class="mb-3">
              <label for="inputRoleName" class="form-label text-tpp">Role Name :</label>
              <input type="text" class="form-control" id="inputRoleName" placeholder="Admin, User, Etc.."
                [ngClass]="{'is-invalid': isVerify && !roleForm.roleName}" [(ngModel)]="roleForm.roleName">
            </div>
            <div class="mb-3">
              <label for="inputCompany" class="form-label text-tpp">Company :</label>
              <select class="form-select" id="inputCompany" aria-label="Please select"
                [ngClass]="{'is-invalid': isVerify && !roleForm.companyId}" [(ngModel)]="roleForm.companyId"
                [disabled]="roleForm.roleId">
                <option value="" selected hidden="hidden">Please select</option>
                <option value="{{company.companyId}}" *ngFor="let company of companies">{{company.companyName}}</option>
              </select>
            </div>
            <div class="mb-3" *ngIf="roleForm.roleId">
              <label for="inputStatus" class="form-label text-tpp">Status :</label>
              <select class="form-select" id="inputStatus" aria-label="Please select"
                [ngClass]="{'is-invalid': isVerify && !roleForm.status}" [(ngModel)]="roleForm.status">
                <option value="" selected hidden="hidden">Please select</option>
                <option value="{{s.status}}" *ngFor="let s of defaultStatus">{{s.statusName}}</option>
              </select>
            </div>
          </div>
          <div class="col-12">
            <div class="row mx-3">
              <div class="col-6 border-end">
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" id="chackAllRegion" [(ngModel)]="roleForm.allRegion"
                    (change)="onClickAllRegion(roleForm.allRegion)">
                  <label class="form-check-label text-tpp" for="chackAllRegion">
                    All Region
                  </label>
                </div>
                <div class="ms-3 form-check">
                  <input class="form-check-input" type="checkbox" id="chackNorthern" [(ngModel)]="roleForm.northern">
                  <label class="form-check-label text-tpp" for="chackNorthern">
                    Northern
                  </label>
                </div>
                <div class="ms-3 form-check">
                  <input class="form-check-input" type="checkbox" id="chackCentral" [(ngModel)]="roleForm.central">
                  <label class="form-check-label text-tpp" for="chackCentral">
                    Central
                  </label>
                </div>
                <div class="ms-3 form-check">
                  <input class="form-check-input" type="checkbox" id="chackWestern" [(ngModel)]="roleForm.western">
                  <label class="form-check-label text-tpp" for="chackWestern">
                    Western
                  </label>
                </div>
                <div class="ms-3 form-check">
                  <input class="form-check-input" type="checkbox" id="chackNortheastern"
                    [(ngModel)]="roleForm.northeastern">
                  <label class="form-check-label text-tpp" for="chackNortheastern">
                    Northeastern
                  </label>
                </div>
                <div class="ms-3 form-check">
                  <input class="form-check-input" type="checkbox" id="chackEastern" [(ngModel)]="roleForm.eastern">
                  <label class="form-check-label text-tpp" for="chackEastern">
                    Eastern
                  </label>
                </div>
                <div class="ms-3 form-check">
                  <input class="form-check-input" type="checkbox" id="chackSouthern" [(ngModel)]="roleForm.southern">
                  <label class="form-check-label text-tpp" for="chackSouthern">
                    Southern
                  </label>
                </div>
              </div>
              <div class="col-6">
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" id="chackReport" [(ngModel)]="roleForm.report">
                  <label class="form-check-label text-tpp" for="chackReport">
                    Report
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" id="chackAdmin" [(ngModel)]="roleForm.admin">
                  <label class="form-check-label text-tpp" for="chackAdmin">
                    Admin
                  </label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer d-flex justify-content-center">
        <button style="width: 95px;" type="button" class="btn btn-outline-grey rounded-pill me-4"
          data-bs-dismiss="modal">Cancel</button>
        <button style="width: 95px;" type="button" class="btn btn-outline-blue rounded-pill"
          (click)="openMessageSaveModal()">Save</button>
      </div>
    </div>
  </div>
</div>


<!-- Message Modal -->
<div class="modal fade" id="messageModal" tabindex="-1" aria-labelledby="messageModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-sm">
    <div class="modal-content border-radius-12px">
      <div class="modal-body text-center">
        <i *ngIf="messageAlert.type == 'error'" style="font-size: 64px;" class='bx bx-error-circle text-danger'></i>
        <i *ngIf="messageAlert.type == 'success'" style="font-size: 64px;" class="bx bx-check-circle text-success"></i>
        <h4 [ngClass]="{'text-danger': messageAlert.type == 'error','text-tpp': messageAlert.type == 'success'}">
          {{messageAlert.title}}
        </h4>
        <p>{{messageAlert.detail}}</p>
      </div>
      <div class="modal-footer  d-flex justify-content-center">
        <button type="button" class="btn rounded-pill mx-2 {{btn.class}}" *ngFor="let btn of messageAlert.buttonOption"
          (click)="btn.action()">{{btn.label}}</button>
      </div>
    </div>
  </div>
</div>

<!-- Error Modal -->
<div class="modal fade" id="errorModal" tabindex="-1" aria-labelledby="errorModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-sm">
    <div class="modal-content border-radius-12px">
      <div class="modal-body text-center">
        <i *ngIf="messageAlert.type == 'error'" style="font-size: 64px;" class='bx bx-error-circle text-danger'></i>
        <i *ngIf="messageAlert.type == 'success'" style="font-size: 64px;" class="bx bx-check-circle text-success"></i>
        <h4 [ngClass]="{'text-danger': messageAlert.type == 'error','text-tpp': messageAlert.type == 'success'}">
          {{messageAlert.title}}
        </h4>
        <p>{{messageAlert.detail}}</p>
      </div>
      <div class="modal-footer  d-flex justify-content-center">
        <button type="button" class="btn rounded-pill mx-2 {{btn.class}}" *ngFor="let btn of messageAlert.buttonOption"
          (click)="btn.action()">{{btn.label}}</button>
      </div>
    </div>
  </div>
</div>