<div class="container-fluid bg-main">
    <button class="btn btn-back" [routerLink]="['/login']">
        <mat-icon class="mat-back">arrow_back</mat-icon>
    </button>
    <div class="center">
        <div class="form-div mt-5 pt-5">
            <form [formGroup]="resetForm" (ngSubmit)="onSubmit()" autocomplete="off">
                <div class="form-group">
                    <span class="text-forgot">Forgot your password?</span>
                </div>

                <div class="form-group mb-5">
                  <span class="tpp-text-sup-titel">Enter you email to forgot your <br>
                  password, we will send you the OTP  </span>
                </div>
                <div class="form-group mt-5" style="position: relative;">
                    <input type="text" formControlName="username" placeholder="USERNAME" class="form-control input-css"
                        [ngClass]="{ 'is-invalid': submitted && f.username.errors }" (ngModelChange)="change()"/>
                    <img class="img-input" src="assets/img/user.png">
                    <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                        <div class="text-white" *ngIf="f.username.errors.required">Username is required.</div>
                    </div>
                    <div class="text-white" *ngIf="isFound">{{message}}</div>
                </div>
                <div class="form-group mt-5 pt-5">
                    <button type="submit" [disabled]="loading" class="btn btn-submit">
                        <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                        RESET PASSWORD
                    </button>
                </div>
                <div class="form-group mt-5 pt-5">
                  <span class="tpp-text-footer">"2023 TPP MONITORING DASHBOARD All Rights Reserved"</span>
                </div>
            </form>
        </div>
    </div>
</div>
