<div class="card card-cs">
  <div class="row row-title">
    <div class="title">
      <img class="img-report" src="assets/img/report.png">
      <span class="text-report-title">Support</span>
    </div>
  </div>
  <hr class="hr-info-body">

  <div class="row center">
    <div class="card card-total-blue card-total-blue-right">
      <span class="total-blue-text text-center">Technical Support</span>
    </div>
    <div class="div-topic" style="margin-top: 25px !important;padding: 0rem 5rem; margin-bottom: 15.5rem;">
      <div class="row"><span class="topic" style="color: #3676B4;">Document</span></div>

      <div class="row mt-4">
        <div class="col-1 text-end">
          <img class="img-report" src="assets/img/support-doc.png">
        </div>
        <div class="col-10 ps-3" style=" display: flex; flex-direction: row; flex-wrap: wrap; align-content: center; justify-content: flex-start;">
          <a style="color: #3676B4; font-size: 16px;">Product spec</a>
        </div>
      </div>

      <div class="row mt-4">
        <div class="col-1 text-end">
          <img class="img-report" src="assets/img/support-doc.png">
        </div>
        <div class="col-10 ps-3"
          style=" display: flex; flex-direction: row; flex-wrap: wrap; align-content: center; justify-content: flex-start;">
          <a style="color: #3676B4; font-size: 16px;">Manual guidelin</a>
        </div>
      </div>

      <div class="row mt-4">
        <div class="col-1 text-end">
          <img class="img-report" src="assets/img/support-doc.png">
        </div>
        <div class="col-10 ps-3"
          style=" display: flex; flex-direction: row; flex-wrap: wrap; align-content: center; justify-content: flex-start;">
          <a style="color: #3676B4; font-size: 16px;">
          consectetur adipiscing elit.</a>
        </div>
      </div>

      <div class="row mt-4">
        <div class="col-1 text-end">
          <img class="img-report" src="assets/img/support-doc.png">
        </div>
        <div class="col-10 ps-3"
          style=" display: flex; flex-direction: row; flex-wrap: wrap; align-content: center; justify-content: flex-start;">
          <a style="color: #3676B4; font-size: 16px;">
          consectetur adipiscing elit.</a>
        </div>
      </div>

    </div>
  </div>
</div>
