.bg-main {
    width: 100%;
    height: 100%;
    position: relative;
    background: linear-gradient(to bottom, #0A2A88, #59CDE9);
}

.tpp-logo {
    width: 75px;
    justify-content: center;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-css {
    font-size: 12px;
    color: white;
    padding-left: 40px;
    margin-top: 15px;
    margin-bottom: 5px;
    background: transparent;
    width: 100%;
    height: 50px;
}

input:-internal-autofill-selected {
    color: white !important;
    background: transparent !important;
}

::-webkit-input-placeholder {
    /* Edge */
    opacity: 0.5;
    font-size: 10px;
    color: rgb(240, 240, 240);
}

:-ms-input-placeholder {
    /* Internet Explorer */
    opacity: 0.5;
    font-size: 10px;
    color: rgb(240, 240, 240);
}

::placeholder {
    opacity: 0.7;
    font-size: 10px;
    color: rgb(240, 240, 240);
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: #fff !important;
    font-size: 12px;
}

.img-input {
    position: absolute;
    left: 5px;
    top: 50%;
    transform: translate(0%, -50%);
    width: 24px;
}

.form-div {
    text-align: center;
}

.link-forgot {
    color: white;
    text-decoration: underline;
    font-size: 13px;
}

.btn-submit {
    background: white;
    color: #2148C0;
    font-size: 14px;
    font-weight: bold;
    width: 70%;
    height: 50px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    -webkit-box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    -o-box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    -moz-box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.tpp-text-footer {
    display: block;
    font-size: 14px !important;
    color: white;
    position: relative;
}

.text-white {
    color: white;
}
