<admin-side-bar></admin-side-bar>
<div class="body-admin">
  <div class="row">
    <div class="col-12">
      <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-3 col-xl-3 col-xxl-3 mb-2 d-flex align-items-center">
          <img src="./../../../../../../assets/img/admin/site-icon.png">
          <h5 class="text-tpp ms-2 mb-0">Add Site List</h5>
        </div>
        <div
          class="col-12 col-sm-12 col-md-12 col-lg-3 col-xl-3 col-xxl-3 mb-2 d-flex align-items-center justify-content-end">
          <div *ngIf="getSelected()" class="d-flex align-items-center">
            <span class="font-size-2 me-2">{{getSelected()}} selected</span>
            <span class="font-size-1 badge rounded-pill bg-danger d-flex align-items-center me-2">
              <a class="me-1 text-light d-flex align-items-center" (click)="onClearAll()">
                <i class='font-size-2 bx bx-x'></i>
              </a>
              Clear all
            </span>
            <a class="text-light d-flex align-items-center" (click)="openDeleteAllModal()">
              <i class='font-size-3 text-tpp bx bx-trash'></i>
            </a>
          </div>
        </div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xxl-6 mb-2">
          <div class="d-flex align-items-center justify-content-end">
            <div style="width: 10px; height: 38px;"
              class="border-start border-2 border-tpp ps-3 ms-3 d-none d-sm-none d-md-none d-lg-block d-xl-block d-xxl-block">
            </div>
            <button type="button" class="btn btn-outline-sky d-flex align-items-center border-radius-6px"
              (click)="openaddSiteModal()">
              <i class='bx bxs-plus-circle me-1'></i> Add site List
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12rounded-pill mt-2 mb-3">
      <div class="w-100 line-cut"></div>
    </div>
    <div class="col-12" style="overflow-x:auto;">
      <table class="table table-bordered">
        <thead>
          <tr class="text-center header-table">
            <th style="width: 30px" scope="col">
              <div>
                <input class="border-tpp form-check-input" type="checkbox" id="selectAllUser" (change)="onSelectAll()"
                  [(ngModel)]="selectAll">
              </div>
            </th>
            <th scope="col">
              <div class="d-flex justify-content-center">
                <span class="me-1">Site name</span>
                <a class="text-body d-flex align-items-center"><i class='font-size-3 bx bx-sort-down'></i></a>
              </div>
            </th>
            <th scope="col">
              <div class="d-flex justify-content-center">
                <span class="me-1">Address</span>
                <a class="text-body d-flex align-items-center"><i class='font-size-3 bx bx-sort-down'></i></a>
              </div>
            </th>
            <th scope="col">
              <div class="d-flex justify-content-center">
                <span class="me-1">Lat Long</span>
                <a class="text-body d-flex align-items-center"><i class='font-size-3 bx bx-sort-down'></i></a>
              </div>
            </th>
            <th scope="col">
              <div class="d-flex justify-content-center">
                <span class="me-1">Province</span>
                <a class="text-body d-flex align-items-center"><i class='font-size-3 bx bx-sort-down'></i></a>
              </div>
            </th>
            <th scope="col">
              <div class="d-flex justify-content-center">
                <span class="me-1">Location type</span>
                <a class="text-body d-flex align-items-center"><i class='font-size-3 bx bx-sort-down'></i></a>
              </div>
            </th>
            <th scope="col">
              <div class="d-flex justify-content-center">
                <span class="me-1">Status</span>
                <a class="text-body d-flex align-items-center"><i class='font-size-3 bx bx-sort-down'></i></a>
              </div>
            </th>
            <th style="width: 60px" scope="col">

            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let site of siteList;let index = index"
            [ngClass]="{'row-selected': site.checked, 'text-tpp': !site.checked, 'tr-odd': index%2 && !site.checked}">
            <th>
              <div style="width: 30px" class="text-center">
                <input class="border-tpp form-check-input" type="checkbox" id="selectAllSite"
                  [(ngModel)]="site.checked">
              </div>
            </th>
            <th class="text-center">{{site.siteName}}</th>
            <td class="text-center">{{site.address != null && site.address != "null" && site.address != "" ? site.address : "-"}}</td>
            <td class="text-center">{{site.latLong}}</td>
            <td class="text-center">{{site.province}}</td>
            <td class="text-center">{{site.locationType != null && site.locationType != "null" && site.locationType != "" ? site.locationType : "-"}}</td>
            <td class="text-center">{{site.status}}</td>
           <td class="bg-light">
              <div class="d-flex justify-content-center">
                <a (click)="openEditSiteModal(site)"><i class='font-size-4 text-tpp bx bx-pencil me-3'></i></a>
                <a (click)="openMessageDeleteModal(site)"><i class='font-size-4 text-tpp bx bx-trash'></i></a>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row mt-1">
    <div class="col-6 d-flex justify-content-start align-items-center">
      <strong class="me-2">Rows per page</strong>
      <select style="width: 70px;" class="form-select me-2" [(ngModel)]="filterOption.limit" (change)="getSiteList()">
        <option value="10">10</option>
        <option value="20">20</option>
        <option value="30">30</option>
        <option value="40">40</option>
        <option value="50">50</option>
      </select>
      <strong class="d-none d-sm-none d-md-none d-lg-block d-xl-block d-xxl-block">Showing {{(filterOption.page-1)*10+1}} - {{filterOption.totalResult > filterOption.limit*filterOption.page ? filterOption.limit*filterOption.page : filterOption.totalResult}} of results
        {{filterOption.totalResult}}</strong>
    </div>
    <div class="col-6">
      <div class="rounded-pill d-flex group-ptt float-end">
        <div><a class="font-size-3 text-light w-100 float-start pt-1" (click)="goPage(-1)"><i
              class='bx bx-left-arrow-alt ms-2'></i></a>
        </div>
        <div class="font-size-2 w-100 text-center text-light pt-1">{{filterOption.page}} of {{filterOption.pageTotal}}
        </div>
        <div><a class="font-size-3 text-light w-100 float-end pt-1" (click)="goPage(1)"><i
              class='bx bx-right-arrow-alt me-2'></i></a></div>
      </div>
    </div>
  </div>
</div>
<!-- Site From -->
<div class="modal fade" id="addSiteModal" tabindex="-1" aria-labelledby="addSiteModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-sm">
    <div class="modal-content border-radius-12px">
      <div class="modal-header">
        <h5 class="modal-title" id="addSiteModalLabel">
          <strong class="text-tpp" *ngIf="siteForm.siteId">Edit Site List</strong>
          <strong class="text-tpp" *ngIf="!siteForm.siteId">Add Site List</strong>
        </h5>
        <a data-bs-dismiss="modal" aria-label="Close"><i class='text-tpp font-size-5 bx bxs-x-circle'></i></a>
      </div>
      <div class="modal-body bg-modal-body">
        <div class="row">
          <div class="col-12">
            <label for="inputSiteName" class="form-label text-tpp"><strong>Site Name :</strong></label>
            <input type="text" class="form-control" id="inputSiteName" placeholder=""
              [ngClass]="{'is-invalid': isVerify && !siteForm.siteName}" [(ngModel)]="siteForm.siteName">
          </div>
          <div class="col-12">
            <label for="inputAddress" class="form-label text-tpp"><strong>Address :</strong></label>
            <input type="text" class="form-control" id="inputAddress" placeholder=""
              [(ngModel)]="siteForm.address">
          </div>
          <div class="col-12">
            <label for="inputLetLong" class="form-label text-tpp"><strong>Lat Long :</strong></label>
            <input type="text" class="form-control" id="inputLetLong" placeholder=""
              [ngClass]="{'is-invalid': isVerify && !siteForm.latLong}" [(ngModel)]="siteForm.latLong">
          </div>
          <div class="col-12">
            <label for="inputProvince" class="form-label text-tpp"><strong>Province :</strong></label>
            <select class="form-select" id="inputProvince" aria-label="Please select"
              [ngClass]="{'is-invalid': isVerify && !siteForm.province}" [(ngModel)]="siteForm.provinceId" (change)="onChangeProvince()">
              <option selected value="">Please select</option>
              <option value="{{province.provinceId}}" *ngFor="let province of provinceList">{{province.provinceName}}
              </option>
            </select>
          </div>
          <div class="col-12">
            <label for="inputLocationType" class="form-label text-tpp"><strong>Location Type :</strong></label>
            <input type="text" class="form-control" id="inputLocationType" placeholder=""
              [(ngModel)]="siteForm.locationType">
          </div>
        </div>
      </div>
      <div class="modal-footer d-flex justify-content-center">
        <button style="width: 95px;" type="button" class="btn btn-outline-grey rounded-pill me-4"
          data-bs-dismiss="modal" (click)="getSiteList()">Cancel</button>
        <button style="width: 95px;" type="button" class="btn btn-outline-blue rounded-pill"
          (click)="openMessageSaveModal()">Save</button>
      </div>
    </div>
  </div>
</div>

<!-- Message Modal -->
<div class="modal fade" id="messageModal" tabindex="-1" aria-labelledby="messageModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-sm">
    <div class="modal-content border-radius-12px">
      <div class="modal-body text-center">
        <i *ngIf="messageAlert.type == 'error'" style="font-size: 64px;" class='bx bx-error-circle text-danger'></i>
        <i *ngIf="messageAlert.type == 'success'" style="font-size: 64px;" class="bx bx-check-circle text-success"></i>
        <h4 [ngClass]="{'text-danger': messageAlert.type == 'error','text-tpp': messageAlert.type == 'success'}">
          {{messageAlert.title}}
        </h4>
        <p>{{messageAlert.detail}}</p>
      </div>
      <div class="modal-footer  d-flex justify-content-center">
        <button type="button" class="btn rounded-pill mx-2 {{btn.class}}" *ngFor="let btn of messageAlert.buttonOption"
          (click)="btn.action()">{{btn.label}}</button>
      </div>
    </div>
  </div>
</div>
